.editor-paper {
    min-height: auto;
    width: 70vw;
    margin: 0 15px 15px 15px;
    padding: 20px;
    border-style: outset;
    border-width: 1px;
    border-radius: 0 0px 8px 8px;
    background-color: white;
    word-wrap: break-word;
    display: inline-block;
}
